In [1]:
import pandas as pd
import json

ModuleNotFoundError: No module named 'prettify'

In [2]:
df = pd.read_json('samples.json')

In [3]:
df

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."
...,...,...,...
148,1574,"{'id': 1574, 'ethnicity': 'Caucasian', 'gender...","{'id': '1574', 'otu_ids': [482, 909, 2419, 944..."
149,1576,"{'id': 1576, 'ethnicity': 'Caucasian', 'gender...","{'id': '1576', 'otu_ids': [1929, 1770, 1926, 1..."
150,1577,"{'id': 1577, 'ethnicity': 'Caucasian', 'gender...","{'id': '1577', 'otu_ids': [922, 1795, 151, 318..."
151,1581,"{'id': 1581, 'ethnicity': 'Asian(American)', '...","{'id': '1581', 'otu_ids': [1795, 3312, 1399, 3..."
152,1601,"{'id': 1601, 'ethnicity': 'Caucasian', 'gender...","{'id': '1601', 'otu_ids': [1929, 3030, 1795, 8..."